nav {
  background-color: #090b40;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px grey;
}
.cart-layout {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(255, 153, 0);
  font-size: 1.5rem;
}
.banner {
  color: rgb(255, 153, 0);
}
